<!--header start-->

<header id="site-header" class="header">
  <div class="header-top">
    <div class="container-fluid p-0">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-12">
          <div class="topbar-link">
            <ul class="list-inline">
              <li>
                <i class="flaticon-working-hours"></i>
                <span>Monday - Friday 09:00 to 6:00</span>
              </li>
              <li>
                <i class="flaticon-chat"></i>
                <a href="mailto:info@hbchrcm.tmc.gov.in">info@hbchrcm.tmc.gov.in</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 d-flex align-items-center justify-content-lg-end mt-3 mt-lg-0">
          <div class="search-icon me-3">
            <a id="search" href="javascript:void(0)">
              <i class="flaticon-search-1"></i>
            </a>
          </div>
          <div class="social-icons">
            <ul class="list-inline">
              <li>
                <a href="#">
                  <i class="flaticon-facebook-app-symbol"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="flaticon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="flaticon-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="flaticon-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="header-wrap">
    <div class="container-fluid p-0">
      <div class="row">
        <!--menu start-->
        <div class="col">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand logo" href="index.html">
              <img class="img-fluid" src="images/logo.png" alt="Logo">
              <div class="logo-text-group">
                <div class="logo-title">HOMI BHABHA CANCER HOSPITAL</div>
                <div class="logo-subtitle">& RESEARCH CENTRE, PUNJAB</div>
                <div class="logo-desc">A Unit of TATA MEMORIAL CENTRE</div>
              </div>
            </a>
            <button class="navbar-toggler ht-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <svg width="100" height="100" viewBox="0 0 100 100">
                <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"></path>
                <path class="line line2" d="M 20,50 H 80"></path>
                <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"></path>
              </svg>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="index.html">Home</a>
                </li>
                
                <li class="nav-item dropdown dropdown-mega">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-display="static">About Us</a>
                  <div class="dropdown-menu mega-menu p-4" style="width: 540px; left: 50%; transform: translateX(-50%);">
                    <div class="row">
                      <div class="col-4">
                        <h6 class="dropdown-header text-primary font-weight-bold p-0 mb-2" style="font-size: 11px;">Leadership</h6>
                        <ul class="list-unstyled">
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Director's Message</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Governing Council</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Collegium</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Affiliations</a></li>
                        </ul>
                      </div>
                      <div class="col-4">
                        <h6 class="dropdown-header text-primary font-weight-bold p-0 mb-2" style="font-size: 11px;">Governance</h6>
                        <ul class="list-unstyled">
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Vigilance</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">RTI Act</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Statutory Docs</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Hospital Registration</a></li>
                        </ul>
                      </div>
                      <div class="col-4">
                        <h6 class="dropdown-header text-primary font-weight-bold p-0 mb-2" style="font-size: 11px;">Committees</h6>
                        <ul class="list-unstyled">
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">ICC Committee</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Liaison Officer</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Annual Reports</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">APR Reports</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                
                <li class="nav-item dropdown dropdown-mega">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-display="static">Portal</a>
                  <div class="dropdown-menu mega-menu p-4" style="width: 750px; left: 50%; transform: translateX(-50%);">
                    <div class="row">
                      <div class="col-3">
                        <h6 class="dropdown-header text-primary font-weight-bold p-0 mb-2" style="font-size: 11px;">Emergency & Contact</h6>
                        <ul class="list-unstyled">
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Casualty Facility</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Location & Contact</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">DMG Doctor List</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Departments</a></li>
                        </ul>
                      </div>
                      <div class="col-3">
                        <h6 class="dropdown-header text-primary font-weight-bold p-0 mb-2" style="font-size: 11px;">OPD Services</h6>
                        <ul class="list-unstyled">
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">OPD Timings</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Process Flow</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Online Registration</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Appointments</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Teleconsultation</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Expert Opinion</a></li>
                        </ul>
                      </div>
                      <div class="col-3">
                        <h6 class="dropdown-header text-primary font-weight-bold p-0 mb-2" style="font-size: 11px;">Indoor Services</h6>
                        <ul class="list-unstyled">
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Bed Strength</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Admission Process</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Discharge Process</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Billing Cycle</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Chemotherapy</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Radiation Therapy</a></li>
                        </ul>
                      </div>
                      <div class="col-3">
                        <h6 class="dropdown-header text-primary font-weight-bold p-0 mb-2" style="font-size: 11px;">Diagnostics & Rx</h6>
                        <ul class="list-unstyled">
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Operation Theatres</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Radiology & IR</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Nuclear Medicine</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Laboratories</a></li>
                          <li><a class="dropdown-item p-1" href="#" style="font-size: 13px;">Pharmacy</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="#services-section">Services</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="Pages/case-studies.html">Case Studies</a>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-display="static">Academics</a>
                  <ul class="dropdown-menu" style="min-width: 260px;">
                    <li><a class="dropdown-item" href="#" style="text-transform: none;">About Academics Department</a></li>
                    <li><a class="dropdown-item" href="#" style="text-transform: none;">Academics Committee</a></li>
                    <li><a class="dropdown-item" href="#" style="text-transform: none;">Anti-Ragging Committee</a></li>
                    <li><a class="dropdown-item" href="#" style="text-transform: none;">Institutional Ethics Committee</a></li>
                    <li><a class="dropdown-item" href="#" style="text-transform: none;">Affiliated University</a></li>
                    <li><a class="dropdown-item" href="#" style="text-transform: none;">NMC India Attendance</a></li>
                    <li><a class="dropdown-item" href="#" style="text-transform: none;">Stipend Details Mullanpur</a></li>
                    <li><a class="dropdown-item" href="#" style="text-transform: none;">Stipend Details Sangrur</a></li>
                  </ul>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="#">Tenders</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="#contact-section">Contact</a>
                </li>
              </ul>
            </div>
            <div class="right-nav align-items-center d-flex justify-content-end">
              <div class="header-media">
                <ul class="list-inline mb-0">
                  <li>
                    <i class="flaticon-doctor-consultation"></i>
                    <h6>Call Now</h6>
                    <a href="tel:0160-2810000">0160-2810000</a>
                  </li>
                </ul>
              </div>
              <a class="themeht-btn primary-btn" href="appointment.html">
                <span>Book Appointment </span>
                <i class="flaticon-plus"></i>
              </a>
            </div>
          </nav>
        </div>
        <!--menu end-->
      </div>
    </div>
  </div>
</header>
<div class="search-input" id="search-input-box">
  <div class="search-inner-box">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <form role="search" class="search-form d-flex justify-content-between search-inner">
            <label>
              <input type="search" class="search-field" placeholder="Search Here" value="" name="s" />
            </label>
            <button type="submit" class="search-submit">
              <i class="bi bi-search"></i>
            </button>
            <span class="bi bi-x close-search" id="close-search" title="Close Search"></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--header end-->