<!--banner start-->

<section class="p-0 hb-hero-section">
  <div class="swiper banner-swiper banner-slider banner-one">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="banner-content">
          <div class="container-fluid px-lg-10">
            <div class="row">
              <div class="col-lg-6 col-12">
                <div class="rounded h-100 mobile-bg-img" data-bg-img="images/banner/banner-1.png"></div>
              </div>
              <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                <div class="banner-text theme-bg rounded">
                  <h1 class="mb-4 text-white">Take Care Of <span>Cancer Health</span> Treatment </h1>
                  <p class="text-white">A wonderful serenity has taken possession of my entire soul, like these sweet
                    mornings of spring which I enjoy with my whole heart.&nbsp;</p>
                  <div class="btn-box mt-5">
                    <a class="themeht-btn white-btn" href="doctor-style-01.html">
                      <span>Find A Doctor</span>
                      <i class="flaticon-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="banner-content">
          <div class="container-fluid px-lg-10">
            <div class="row">
              <div class="col-lg-6 col-12">
                <div class="rounded h-100 mobile-bg-img" data-bg-img="images/banner/banner-3.png"></div>
              </div>
              <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                <div class="banner-text theme-bg rounded">
                  <h1 class="mb-4 text-white">Professional <span>Oncology Treatment</span> Hospital </h1>
                  <p class="text-white">A wonderful serenity has taken possession of my entire soul, like these sweet
                    mornings of spring which I enjoy with my whole heart.&nbsp;</p>
                  <div class="btn-box mt-5">
                    <a class="themeht-btn white-btn" href="doctor-style-01.html">
                      <span>Find A Doctor</span>
                      <i class="flaticon-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="banner-swiper-button-next" class="swiper-button-next"></div>
    <div id="banner-swiper-button-prev" class="swiper-button-prev"></div>
  </div>
</section>

<!--banner end-->


<!--body content start-->

<div class="page-content">

  <!--marquee start-->

  <section class="hb-marquee-section">
    <div class="container">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6">
          <div class="theme-title ht-split-text mb-0">
            <h6>What We Do</h6>
            <h2 class="mb-0" data-splitting="chars">Types of <span class="title-text">Cancer Specialities</span></h2>
          </div>
        </div>
        <div class="col-lg-6 mt-4 mt-lg-0 text-lg-end">
          <a class="themeht-btn primary-btn" href="#"><span>View All Specialities</span><i
              class="flaticon-plus"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="swiper marquee-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="marquee-icon-box">
                  <i class="flaticon flaticon-bladder"></i>
                  <h5>Bladder Cancer</h5>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="marquee-icon-box">
                  <i class="flaticon flaticon-breast-cancer"></i>
                  <h5>Breast Cancer</h5>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-active">
                <div class="marquee-icon-box">
                  <i class="flaticon flaticon-pediatrics"></i>
                  <h5>Child Cancers</h5>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="marquee-icon-box">
                  <i class="flaticon flaticon-kidney-cancer"></i>
                  <h5>Kidney Cancer</h5>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="marquee-icon-box">
                  <i class="flaticon flaticon-leukemia"></i>
                  <h5>Leukemia</h5>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="marquee-icon-box">
                  <i class="flaticon flaticon-lung"></i>
                  <h5>Lung Cancer</h5>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="marquee-icon-box">
                  <i class="flaticon flaticon-cancer-cell"></i>
                  <h5>Metastatic</h5>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="marquee-icon-box">
                  <i class="flaticon flaticon-dermatoscope"></i>
                  <h5>Melanoma</h5>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="marquee-icon-box">
                  <i class="flaticon flaticon-pancreatitis"></i>
                  <h5>Pancreatic</h5>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="marquee-icon-box">
                  <i class="flaticon flaticon-prostate"></i>
                  <h5>Prostate Cancer</h5>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="marquee-icon-box">
                  <i class="flaticon flaticon-thyroid"></i>
                  <h5>Thyroid Cancer</h5>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="marquee-icon-box">
                  <i class="flaticon flaticon-uterine"></i>
                  <h5>Uterine Cancer</h5>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="marquee-icon-box">
                  <i class="flaticon flaticon-brain"></i>
                  <h5>Brain Tumor</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--marquee end-->


  <!--about start-->

  <section class="py-0 hb-about-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 position-relative">
          <div class="about-text round-text">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
              y="0px" width="100%" height="100%" viewBox="0 0 180 180" enable-background="new 0 0 180 180"
              xml:space="preserve">
              <defs>
                <path id="circlePath2" d="M 90, 90 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "></path>
              </defs>
              <circle cx="90" cy="90" r="75" fill="none"></circle>
              <g>
                <use xlink:href="#circlePath2" fill="none"></use>
                <text>
                  <textPath xlink:href="#circlePath2">About Us • About Us • About Us • About Us •</textPath>
                </text>
              </g>
            </svg>
          </div>
          <div class="mt-10 pe-10 ht-img-effect">
            <div class="ht-img-effect-image">
              <img class="img-fluid w-100 rounded" src="images/about/01.jpg" alt="">
            </div>
          </div>
          <div class="about-text2 theme-bg rounded p-5 d-inline-block">
            <h4 class="text-white mb-0">We're The No.1 Oncology Hospital</h4>
          </div>
        </div>
        <div class="col-lg-6 ps-lg-10 mt-5 mt-lg-0">
          <div class="theme-title ht-split-text">
            <h6>About Us</h6>
            <h2 data-splitting="chars">A Premier Network of Government-Run <span class="title-text">Cancer
                Hospitals</span> Across India</h2>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="ht-rounded-skill">
                <div class="rounded-skill" data-circle-startTime=0 data-circle-maxValue="70" data-circle-dialWidth=5
                  data-circle-type="progress">
                  <div class="skill-bg">
                    <div class="skill-num">00:00:00</div>
                  </div>
                </div>
                <span class="skill-title">Professional Doctors</span>
              </div>
            </div>
            <div class="col-md-4 mt-5 mt-md-0">
              <div class="ht-rounded-skill">
                <div class="rounded-skill" data-circle-startTime=0 data-circle-maxValue="80" data-circle-dialWidth=5
                  data-circle-type="progress">
                  <div class="skill-bg">
                    <div class="skill-num">00:00:00</div>
                  </div>
                </div>
                <span class="skill-title">Trusted Treatment</span>
              </div>
            </div>
            <div class="col-md-4 mt-5 mt-md-0">
              <div class="ht-rounded-skill">
                <div class="rounded-skill" data-circle-startTime=0 data-circle-maxValue="95" data-circle-dialWidth=5
                  data-circle-type="progress">
                  <div class="skill-bg">
                    <div class="skill-num">00:00:00</div>
                  </div>
                </div>
                <span class="skill-title">Successful Cases</span>
              </div>
            </div>
          </div>
          <p class="my-5">Our extensive medical group operates world-class facilities including <strong>TMC Mumbai,
              ACTREC & CCE Navi Mumbai, HBCHRC Vizag, BBCI Guwahati, MPMMCC & HBCH Varanasi, and HBCHRC
              Muzaffarpur</strong> to provide the highest standard of care.</p>
          <div class="row">
            <div class="col-md-6">
              <div class="call-media">
                <i class="flaticon-doctor-consultation"></i>
                <a href="tel:+91-234-567-8900">+91-234-567-8900</a>
              </div>
            </div>
            <div class="col-md-6">
              <a href="about-us.html" class="themeht-btn primary-btn">
                <span>About More</span>
                <i class="flaticon-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--about end-->


  <!--service end-->

  <section id="services-section" class="hb-services-section">
    <div class="container">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6">
          <div class="theme-title ht-split-text mb-0">
            <h6>Oncology Services</h6>
            <h2 class="mb-0" data-splitting="chars">Oncology Care For <span class="title-text">Our Community</span></h2>
          </div>
        </div>
        <div class="col-lg-6 mt-4 mt-lg-0 text-lg-end">
          <a class="themeht-btn primary-btn" href="#"><span>View All Services</span><i class="flaticon-plus"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="swiper service-swiper service-swiper3">
            <div class="swiper-wrapper">
              <div class="swiper-slide swiper-slide-active">
                <div class="service-item style-3">
                  <div class="service-image">
                    <img src="images/services/06.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="service-title">
                    <h4>
                      <a href="radiation-oncology.html">Radiation Oncology</a>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next">
                <div class="service-item style-3">
                  <div class="service-image">
                    <img src="images/services/07.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="service-title">
                    <h4>
                      <a href="surgical-oncology.html">Surgical Oncology</a>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="service-item style-3">
                  <div class="service-image">
                    <img src="images/services/08.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="service-title">
                    <h4>
                      <a href="medical-oncology.html">Medical Oncology</a>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="service-item style-3">
                  <div class="service-image">
                    <img src="images/services/09.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="service-title">
                    <h4>
                      <a href="robotic-surgery.html">Robotic Surgery</a>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="service-item style-3">
                  <div class="service-image">
                    <img src="images/services/10.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="service-title">
                    <h4>
                      <a href="hemato-oncology.html">Hemato Oncology</a>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
            <div id="service-pagination" class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--service end-->


  <!--step end-->

  <section class="light-bg pb-0 pt-lg-0 pt-5 hb-stats-section">
    <div class="container-fluid p-lg-0">
      <div class="row">
        <div class="ms-auto col-lg-3 col-md-12 custom-py-1 mobile-custom-py">
          <div class="theme-bg box-shadow p-5 rounded">
            <h3 class="text-white">Working Hours</h3>
            <p class="text-white">It is a long established fact that a reader will be distracted by the readable.</p>
            <div>
              <div class="working-hours-item">
                <span class="working-day">Monday</span>
                <span class="working-time">09:00 to 6:00</span>
              </div>
              <div class="working-hours-item">
                <span class="working-day">Tuesday</span>
                <span class="working-time">09:00 to 6:00</span>
              </div>
              <div class="working-hours-item">
                <span class="working-day">Wednesday</span>
                <span class="working-time">09:00 to 6:00</span>
              </div>
              <div class="working-hours-item">
                <span class="working-day">Thursday</span>
                <span class="working-time">09:00 to 6:00</span>
              </div>
              <div class="working-hours-item">
                <span class="working-day">Friday</span>
                <span class="working-time">09:00 to 6:00</span>
              </div>
              <div class="working-hours-item">
                <span class="working-day">Saturday</span>
                <span class="working-time">09:00 to 4:00</span>
              </div>
              <div class="working-hours-item">
                <span class="working-day">Sunday</span>
                <span class="working-time">09:00 to 2:00</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 custom-py-1 mobile-custom-py px-8">
          <div class="theme-title ht-split-text">
            <h6>Welcome To Lifeplus</h6>
            <h2 data-splitting="chars">Explore <span class="title-text">Oncology Departments</span></h2>
            <p>Oncology Enthusiastically mesh long-term high-impact infrastructures vis-a-vis efficient customer service
              leadership rather than prospective experiences.</p>
          </div>
          <div class="row mt-5">
            <div class="col-md-6">
              <ul class="list-unstyled list-icon">
                <li>
                  <i class="flaticon flaticon-tick"></i> Radiation Oncology
                </li>
                <li>
                  <i class="flaticon flaticon-tick"></i> Chemotherapy
                </li>
                <li>
                  <i class="flaticon flaticon-tick"></i> Medical Oncology
                </li>
                <li>
                  <i class="flaticon flaticon-tick"></i> Breast Cancer Diagnosis
                </li>
                <li>
                  <i class="flaticon flaticon-tick"></i> Brain Tumor
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <div class="video-round-text me-n10">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                  y="0px" width="100%" height="100%" viewBox="0 0 180 180" enable-background="new 0 0 180 180"
                  xml:space="preserve">
                  <defs>
                    <path id="circlePath" d="M 90, 90 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "></path>
                  </defs>
                  <circle cx="90" cy="90" r="75" fill="none"></circle>
                  <g>
                    <use xlink:href="#circlePath" fill="none"></use>
                    <text>
                      <textPath xlink:href="#circlePath">Watch Video Now • Watch Video Now •</textPath>
                    </text>
                  </g>
                </svg>
                <a class="video-popup text-btn-icon popup-youtube" href="https://www.youtube.com/watch?v=B0hn57C_ls4">
                  <i class="flaticon flaticon-oncology-9"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mobile-bg-img" data-bg-img="images/about/02.jpg"></div>
      </div>
    </div>
  </section>

  <!--step end-->


  <!--team end-->

  <section class="hb-team-section">
    <div class="container">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6">
          <div class="theme-title ht-split-text mb-0">
            <h6>Our Specialists</h6>
            <h2 data-splitting="chars">Our Expert <span class="title-text">Oncology Team</span></h2>
          </div>
        </div>
        <div class="col-lg-6 mt-4 mt-lg-0 text-lg-end">
          <a class="themeht-btn primary-btn" href="#"><span>View All Doctors</span><i class="flaticon-plus"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="swiper team-swiper">
            <div class="swiper-wrapper" data-cursor2="">
              <div class="swiper-slide">
                <div class="team-member style3">
                  <div class="team-images">
                    <img class="img-fluid" src="images/team/01.jpg" alt="">
                  </div>
                  <div class="team-description">
                    <h4><a href="team-single.html">Dr. Preeti Sharma</a></h4>
                    <span>Medical Oncologist</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="team-member style3">
                  <div class="team-images">
                    <img class="img-fluid" src="images/team/02.jpg" alt="">
                  </div>
                  <div class="team-description">
                    <h4><a href="team-single.html">Dr. Sunita Patel</a></h4>
                    <span>Surgical Oncologist</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="team-member style3">
                  <div class="team-images">
                    <img class="img-fluid" src="images/team/03.jpg" alt="">
                  </div>
                  <div class="team-description">
                    <h4><a href="team-single.html">Dr. Vikram Malhotra</a></h4>
                    <span>Radiation Therapists</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="team-member style3">
                  <div class="team-images">
                    <img class="img-fluid" src="images/team/04.jpg" alt="">
                  </div>
                  <div class="team-description">
                    <h4><a href="team-single.html">Dr. Sandeep Kapoor</a></h4>
                    <span>Robotic Oncologist</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="team-member style3">
                  <div class="team-images">
                    <img class="img-fluid" src="images/team/05.jpg?v=2" alt="">
                  </div>
                  <div class="team-description">
                    <h4><a href="team-single.html">Dr. Anjali Mehta</a></h4>
                    <span>Hemato Oncologist</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="team-member style3">
                  <div class="team-images">
                    <img class="img-fluid" src="images/team/06.jpg?v=2" alt="">
                  </div>
                  <div class="team-description">
                    <h4><a href="team-single.html">Dr. Rohan Gupta</a></h4>
                    <span>Surgical Oncologist</span>
                  </div>
                </div>
              </div>
            </div>
            <div id="team-pagination" class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--team end-->

  <section class="py-0 hb-widgets-section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="box-shadow">
            <div class="row">
              <div class="col-lg-3 border-end border-light p-8">
                <div class="counter">
                  <div class="counter-top">
                    <div class="counter-icon">
                      <i class="flaticon flaticon-diagnosis"></i>
                    </div>
                    <div class="counter-desc">
                      <span class="count-number" data-count="12423">12423</span>
                      <span>+</span>
                    </div>
                  </div>
                  <h6>Successfully Patients</h6>
                </div>
              </div>
              <div class="col-lg-3 border-end border-light p-8">
                <div class="counter">
                  <div class="counter-top">
                    <div class="counter-icon">
                      <i class="flaticon flaticon-medical-team"></i>
                    </div>
                    <div class="counter-desc">
                      <span class="count-number" data-count="2423">2423</span>
                      <span>+</span>
                    </div>
                  </div>
                  <h6>Doctors And Nurses</h6>
                </div>
              </div>
              <div class="col-lg-3 border-end border-light p-8">
                <div class="counter">
                  <div class="counter-top">
                    <div class="counter-icon">
                      <i class="flaticon flaticon-oncology-9"></i>
                    </div>
                    <div class="counter-desc">
                      <span class="count-number" data-count="7425">7425</span>
                      <span>+</span>
                    </div>
                  </div>
                  <h6>Oncology Cases</h6>
                </div>
              </div>
              <div class="col-lg-3 p-8">
                <div class="counter">
                  <div class="counter-top">
                    <div class="counter-icon">
                      <i class="flaticon flaticon-doctor-appointment"></i>
                    </div>
                    <div class="counter-desc">
                      <span class="count-number" data-count="43">43</span>
                      <span>+</span>
                    </div>
                  </div>
                  <h6>Years Of Experience</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--Director's Message start-->

  <section class="dark-bg bg-repeat bg-auto ht-bg-move-effect hb-testimonials-section"
    data-bg-img="images/bg-pattern01.png">
    <div class="container">
      <div class="row align-items-start gy-5">

        <!-- Left: Photo Card -->
        <div class="col-lg-4 text-center" style="position: sticky; top: 100px;">
          <div style="position: relative; display: inline-block;">
            <!-- Teal glow ring -->
            <div style="
            position: absolute; inset: -10px;
            border-radius: 20px;
            border: 2px solid rgba(111,240,242,0.25);
            pointer-events: none;
          "></div>
            <img src="images/about/director-img.jpg" alt="Dr. Ashish Gulia - Director" class="img-fluid" style="
              border-radius: 16px;
              width: 100%;
              max-width: 300px;
              display: block;
              margin: 0 auto;
              box-shadow: 0 20px 60px rgba(0,0,0,0.4);
            ">
            <!-- Name tag -->
            <div style="
            background: linear-gradient(135deg, #042e2f, #1f507b);
            border: 1px solid rgba(111,240,242,0.3);
            border-radius: 12px;
            padding: 14px 24px;
            margin-top: -30px;
            position: relative;
            z-index: 2;
            max-width: 280px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
          ">
              <h5 style="color:#ffffff; font-size:16px; font-weight:700; margin-bottom:4px;">Dr. Ashish Gulia</h5>
              <span style="color:#6ff0f2; font-size:12px; letter-spacing:1px; text-transform:uppercase;">Director,
                HBCHRC Punjab</span>
            </div>
          </div>
        </div>

        <!-- Right: Message -->
        <div class="col-lg-8">
          <div class="theme-title ht-split-text mb-4">
            <h6 style="color:#6ff0f2;">Director's Message</h6>
            <h2 data-splitting="chars" style="color:#ffffff;">A Word From Our <span class="title-text">Director</span>
            </h2>
          </div>

          <!-- Big quote icon -->
          <div style="margin-bottom: 16px;">
            <i class="flaticon flaticon-quote" style="font-size: 48px; color: rgba(111,240,242,0.3);"></i>
          </div>

          <!-- Collapsible message wrapper -->
          <div id="directorMsgWrap"
            style="position: relative; max-height: 230px; overflow: hidden; transition: max-height 0.5s ease;">

            <p style="color:rgba(255,255,255,0.85); font-size:15px; line-height:1.9; margin-bottom:16px;">
              Tata Memorial Centre has been at the forefront of managing the huge cancer burden in India and works on
              the mandates of service, research, and education. To cater to the ever-increasing number of cancer cases,
              two units have been set up in Punjab (one at New Chandigarh, Mohali, and the other at Sangrur). We aim to
              provide comprehensive, evidence-based cancer care to thousands of patients at their doorstep.
            </p>

            <p style="color:rgba(255,255,255,0.75); font-size:15px; line-height:1.9; margin-bottom:16px;">
              We are proud to house state-of-the-art facilities equipped with the latest medical technology, enabling
              our expert healthcare professionals to deliver precise diagnostics, innovative treatments, and optimal
              care. Our multidisciplinary teams of oncologists, surgeons, radiologists, and nurses work collaboratively,
              leveraging their diverse expertise to create tailored treatment plans for each patient.
            </p>

            <p style="color:rgba(255,255,255,0.75); font-size:15px; line-height:1.9; margin-bottom:16px;">
              Our emphasis is on research that is affordable and relevant to the needs of the country. We believe in
              collaboration across programs, across disciplines, and across institutions. We actively participate in
              clinical trials and collaborate with leading research institutions and international cancer centers to
              stay at the forefront of advancements in cancer treatment.
            </p>

            <p style="color:rgba(255,255,255,0.75); font-size:15px; line-height:1.9; margin-bottom:16px;">
              We are committed to imparting education in cancer to students, trainees, professionals, employees, and the
              public in general. We organize informative seminars, webinars, and awareness campaigns to empower
              individuals with knowledge about cancer prevention, early detection, and treatment options while fostering
              a supportive network for patients, survivors, and their families.
            </p>

            <p style="color:rgba(255,255,255,0.75); font-size:15px; line-height:1.9; margin-bottom:16px;">
              We also envisage the development of smaller peripheral cancer centers based on the Hub and Spoke Model for
              screening, prevention, and affordable, high-quality cancer treatment at the community level in the entire
              northern part of India. We hope to contribute substantially towards early detection of cancer and optimum
              cancer care.
            </p>

            <p style="color:rgba(255,255,255,0.65); font-size:15px; line-height:1.9; margin-bottom:24px;">
              We appreciate very much the ongoing efforts of the Tata Memorial Center and Department of Atomic Energy
              and their generous support and initiatives towards this project.
            </p>

            <!-- Henry Ford Quote -->
            <div
              style="background: rgba(111,240,242,0.07); border-left: 3px solid #6ff0f2; border-radius: 0 10px 10px 0; padding: 16px 20px; margin-bottom: 28px;">
              <p style="color:#6ff0f2; font-size:15px; font-style:italic; line-height:1.7; margin-bottom:6px;">
                "Coming together is a beginning; staying together is progress; and working together is success."
              </p>
              <span style="color:rgba(255,255,255,0.5); font-size:12px; letter-spacing:1px;">— Henry Ford</span>
            </div>

            <!-- Warm regards + Signature -->
            <p style="color:rgba(255,255,255,0.6); font-size:14px; margin-bottom:8px;">Warm regards,</p>
            <div style="width:60px; height:3px; background:#6ff0f2; border-radius:2px; margin-bottom:14px;"></div>
            <div>
              <div
                style="font-family: 'Georgia', serif; font-size:28px; font-style:italic; color:#6ff0f2; line-height:1; margin-bottom:6px;">
                Dr. Ashish Gulia</div>
              <div style="color:rgba(255,255,255,0.5); font-size:12px; letter-spacing:2px; text-transform:uppercase;">
                Director, Homi Bhabha Cancer Hospital &amp; Research Centre, Punjab</div>
            </div>

            <!-- Fade overlay (hidden when expanded) -->
            <div id="directorFade" style="
            position: absolute; bottom: 0; left: 0; right: 0;
            height: 80px;
            background: linear-gradient(to bottom, transparent, #042e2f);
            pointer-events: none;
            transition: opacity 0.4s ease;
          "></div>
          </div>

          <!-- Read More button -->
          <div style="margin-top: 20px;">
            <button id="directorReadMoreBtn" class="themeht-btn primary-btn" style="border:none; cursor:pointer;">
              <span>Read Full Message</span>
              <i class="flaticon-plus"></i>
            </button>
          </div>
        </div>


      </div>
    </div>
  </section>

  <!--Director's Message end-->



  <section id="contact-section" class="hb-contact-section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="box-shadow white-bg rounded overflow-hidden">
            <div class="row">
              <div class="col-lg-6 mobile-bg-img" data-bg-img="images/bg/01.jpg"></div>
              <div class="col-lg-6 p-5 p-lg-10">
                <div class="theme-title ht-split-text">
                  <h6>Appointment</h6>
                  <h2 data-splitting="chars">Book Your <span class="title-text">First Appointment</span></h2>
                </div>
                <form id="contact-form" method="post" action="php/contact.php">
                  <div class="messages"></div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group mb-4">
                        <select class="form-control form-select" aria-label="Default select example">
                          <option value="Select Department">Select Department</option>
                          <option value="Oncology">Oncology</option>
                          <option value="Breast Cancer">Breast Cancer</option>
                          <option value="Kidney Cancer">Kidney Cancer</option>
                          <option value="Leukemia">Leukemia</option>
                          <option value="Lung Cancer">Lung Cancer</option>
                        </select>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-4">
                        <select class="form-control form-select" aria-label="Default select example">
                          <option selected>Select Doctor</option>
                        </select>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-4">
                        <input class="form-control" id="form_name" type="text" name="name" placeholder="Enter Your Name"
                          required="required" data-error="Name is required.">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-4">
                        <input class="form-control" id="form_phone" type="tel" name="phone"
                          placeholder="Enter Phone Number" required="required" data-error="Phone is required">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-4">
                        <input class="form-control" id="datepicker" type="tel" name="phone" placeholder="dd/mm/yyyy"
                          required="required" data-error="Date is required">
                        <i class="date-icon bi bi-calendar3"></i>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-4">
                        <select class="form-control form-select" aria-label="Default select example">
                          <option value="09:00AM">09:00AM</option>
                          <option value="09:30AM">09:30AM</option>
                          <option value="10:00AM">10:00AM</option>
                          <option value="10:30AM">10:30AM</option>
                          <option value="11:00AM">11:00AM</option>
                          <option value="11:30AM">11:30AM</option>
                          <option value="12:00PM">12:00PM</option>
                          <option value="12:30PM">12:30PM</option>
                          <option value="01:00PM">01:00PM</option>
                          <option value="01:30PM">01:30PM</option>
                          <option value="02:00PM">02:00PM</option>
                          <option value="02:30PM">02:30PM</option>
                          <option value="03:00PM">03:00PM</option>
                          <option value="03:30PM">03:30PM</option>
                          <option value="04:00PM">04:00PM</option>
                          <option value="04:30PM">04:30PM</option>
                          <option value="05:00PM">05:00PM</option>
                          <option value="05:30PM">05:30PM</option>
                          <option value="06:00PM">06:00PM</option>
                        </select>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea id="form_message" name="message" class="form-control h-auto" placeholder="Message"
                          rows="4" required="required" data-error="Please,leave us a message."></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mt-5">
                        <button class="themeht-btn primary-btn">
                          <span>Book An Appointment</span>
                          <i class="flaticon-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--case studies start-->

  <section class="py-0 hb-portfolio-section">
    <div class="container">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6">
          <div class="theme-title ht-split-text mb-0">
            <h6>Case Studies</h6>
            <h2 data-splitting="chars">Read Our Oncology <span class="title-text">Case Studies</span></h2>
          </div>
        </div>
        <div class="col-lg-6 mt-4 mt-lg-0 text-lg-end">
          <a class="themeht-btn primary-btn" href="Pages/case-studies.html"><span>See All Cases</span><i
              class="flaticon-plus"></i></a>
        </div>
      </div>
    </div>
    <div class="container-fluid px-0">
      <div class="row">
        <div class="col">
          <div class="swiper portfolio-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="portfolio-item style-1">
                  <div class="portfolio-img">
                    <img class="img-fluid" src="images/portfolio/01.jpg" alt="">
                  </div>
                  <div class="portfolio-desc">
                    <div class="portfolio-title">
                      <div class="portfolio-cat">
                        <a href="#">Treatment</a>
                      </div>
                      <h4>
                        <a href="cancer-treatment.html">Cancer Treatment</a>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="portfolio-item style-1">
                  <div class="portfolio-img">
                    <img class="img-fluid" src="images/portfolio/02.jpg" alt="">
                  </div>
                  <div class="portfolio-desc">
                    <div class="portfolio-title">
                      <div class="portfolio-cat">
                        <a href="#">Treatment</a>
                      </div>
                      <h4>
                        <a href="diagnosis-biopsy.html">Diagnosis Biopsy</a>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="portfolio-item style-1">
                  <div class="portfolio-img">
                    <img class="img-fluid" src="images/portfolio/03.jpg" alt="">
                  </div>
                  <div class="portfolio-desc">
                    <div class="portfolio-title">
                      <div class="portfolio-cat">
                        <a href="#">Children</a>
                      </div>
                      <h4>
                        <a href="children-treatment.html">Children Treatment</a>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="portfolio-item style-1">
                  <div class="portfolio-img">
                    <img class="img-fluid" src="images/portfolio/04.jpg" alt="">
                  </div>
                  <div class="portfolio-desc">
                    <div class="portfolio-title">
                      <div class="portfolio-cat">
                        <a href="#">Treatment</a>
                      </div>
                      <h4>
                        <a href="lymphocytic-leukemia.html">Lymphocytic Leukemia</a>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="portfolio-item style-1">
                  <div class="portfolio-img">
                    <img class="img-fluid" src="images/portfolio/05.jpg" alt="">
                  </div>
                  <div class="portfolio-desc">
                    <div class="portfolio-title">
                      <div class="portfolio-cat">
                        <a href="#">Cancer</a>
                      </div>
                      <h4>
                        <a href="sarcomas-cancers.html">Sarcomas Cancers</a>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="portfolio-item style-1">
                  <div class="portfolio-img">
                    <img class="img-fluid" src="images/portfolio/01.jpg" alt="">
                  </div>
                  <div class="portfolio-desc">
                    <div class="portfolio-title">
                      <div class="portfolio-cat">
                        <a href="#">Treatment</a>
                      </div>
                      <h4>
                        <a href="cancer-treatment.html">Cancer Treatment</a>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="portfolio-item style-1">
                  <div class="portfolio-img">
                    <img class="img-fluid" src="images/portfolio/02.jpg" alt="">
                  </div>
                  <div class="portfolio-desc">
                    <div class="portfolio-title">
                      <div class="portfolio-cat">
                        <a href="#">Treatment</a>
                      </div>
                      <h4>
                        <a href="diagnosis-biopsy.html">Diagnosis Biopsy</a>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="portfolio-item style-1">
                  <div class="portfolio-img">
                    <img class="img-fluid" src="images/portfolio/03.jpg" alt="">
                  </div>
                  <div class="portfolio-desc">
                    <div class="portfolio-title">
                      <div class="portfolio-cat">
                        <a href="#">Children</a>
                      </div>
                      <h4>
                        <a href="children-treatment.html">Children Treatment</a>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="portfolio-item style-1">
                  <div class="portfolio-img">
                    <img class="img-fluid" src="images/portfolio/04.jpg" alt="">
                  </div>
                  <div class="portfolio-desc">
                    <div class="portfolio-title">
                      <div class="portfolio-cat">
                        <a href="#">Treatment</a>
                      </div>
                      <h4>
                        <a href="lymphocytic-leukemia.html">Lymphocytic Leukemia</a>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="portfolio-item style-1">
                  <div class="portfolio-img">
                    <img class="img-fluid" src="images/portfolio/05.jpg" alt="">
                  </div>
                  <div class="portfolio-desc">
                    <div class="portfolio-title">
                      <div class="portfolio-cat">
                        <a href="#">Cancer</a>
                      </div>
                      <h4>
                        <a href="sarcomas-cancers.html">Sarcomas Cancers</a>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-nav-arrow">
              <div id="portfolio-swiper-button-next" class="swiper-button-next"></div>
              <div id="portfolio-swiper-button-prev" class="swiper-button-prev"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--case studies end-->


  <!--blog start-->

  <section class="hb-news-events-section" style="padding: 50px 0;">
    <div class="container" style="max-width: 1200px;">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6">
          <div class="theme-title ht-split-text mb-0">
            <h6>News & Events</h6>
            <h2 data-splitting="chars">Read Our Latest <span class="title-text">News & Events</span></h2>
          </div>
        </div>
        <div class="col-lg-6 mt-4 mt-lg-0 text-lg-end">
          <a class="themeht-btn primary-btn" href="#"><span>See More News</span><i class="flaticon-plus"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="swiper post-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="post-card style-2">
                  <div class="post-image ht-img-effect-image">
                    <img class="img-fluid" src="images/blog/01.jpg?v=10" alt="">
                  </div>
                  <div class="post-desc">
                    <ul class="list-inline post-bottom">
                      <li class="list-inline-item">
                        <i class="bi bi-calendar3"></i>
                        <span class="posted-on">
                          <a href="#">
                            June 25, 2026
                          </a>
                        </span>
                      </li>
                      <li class="list-inline-item">
                        <i class="bi bi-tag"></i>
                        <span class="cat-links">
                          <a href="#">Event</a>
                        </span>
                      </li>
                    </ul>
                    <div class="post-title">
                      <h4>
                        <a href="#">Free Cancer Screening and Awareness Camp at Mohali</a>
                      </h4>
                    </div>
                    <a class="themeht-link-btn" href="#"><span>Read More</span><i class="flaticon-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="post-card style-2">
                  <div class="post-image ht-img-effect-image">
                    <img class="img-fluid" src="images/blog/02.jpg?v=10" alt="">
                  </div>
                  <div class="post-desc">
                    <ul class="list-inline post-bottom">
                      <li class="list-inline-item">
                        <i class="bi bi-calendar3"></i>
                        <span class="posted-on">
                          <a href="#">
                            June 18, 2026
                          </a>
                        </span>
                      </li>
                      <li class="list-inline-item">
                        <i class="bi bi-tag"></i>
                        <span class="cat-links">
                          <a href="#">News</a>
                        </span>
                      </li>
                    </ul>
                    <div class="post-title">
                      <h4>
                        <a href="#">Installation of Advanced Linear Accelerator for Radiation Therapy</a>
                      </h4>
                    </div>
                    <a class="themeht-link-btn" href="#"><span>Read More</span><i class="flaticon-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="post-card style-2">
                  <div class="post-image ht-img-effect-image">
                    <img class="img-fluid" src="images/blog/03.jpg?v=10" alt="">
                  </div>
                  <div class="post-desc">
                    <ul class="list-inline post-bottom">
                      <li class="list-inline-item">
                        <i class="bi bi-calendar3"></i>
                        <span class="posted-on">
                          <a href="#">
                            June 12, 2026
                          </a>
                        </span>
                      </li>
                      <li class="list-inline-item">
                        <i class="bi bi-tag"></i>
                        <span class="cat-links">
                          <a href="#">Conference</a>
                        </span>
                      </li>
                    </ul>
                    <div class="post-title">
                      <h4>
                        <a href="#">National Oncology Conference on Robotic Cancer Surgery Held</a>
                      </h4>
                    </div>
                    <a class="themeht-link-btn" href="#"><span>Read More</span><i class="flaticon-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="post-card style-2">
                  <div class="post-image ht-img-effect-image">
                    <img class="img-fluid" src="images/blog/04.jpg?v=10" alt="">
                  </div>
                  <div class="post-desc">
                    <ul class="list-inline post-bottom">
                      <li class="list-inline-item">
                        <i class="bi bi-calendar3"></i>
                        <span class="posted-on">
                          <a href="#">
                            May 31, 2026
                          </a>
                        </span>
                      </li>
                      <li class="list-inline-item">
                        <i class="bi bi-tag"></i>
                        <span class="cat-links">
                          <a href="#">Event</a>
                        </span>
                      </li>
                    </ul>
                    <div class="post-title">
                      <h4>
                        <a href="#">World No Tobacco Day: Awareness Walkathon Organized by HBCHRC</a>
                      </h4>
                    </div>
                    <a class="themeht-link-btn" href="#"><span>Read More</span><i class="flaticon-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="post-card style-2">
                  <div class="post-image ht-img-effect-image">
                    <img class="img-fluid" src="images/blog/05.jpg?v=10" alt="">
                  </div>
                  <div class="post-desc">
                    <ul class="list-inline post-bottom">
                      <li class="list-inline-item">
                        <i class="bi bi-calendar3"></i>
                        <span class="posted-on">
                          <a href="#">
                            May 15, 2026
                          </a>
                        </span>
                      </li>
                      <li class="list-inline-item">
                        <i class="bi bi-tag"></i>
                        <span class="cat-links">
                          <a href="#">News</a>
                        </span>
                      </li>
                    </ul>
                    <div class="post-title">
                      <h4>
                        <a href="#">Tata Memorial Centre Announces New Oncology Fellowship Programs</a>
                      </h4>
                    </div>
                    <a class="themeht-link-btn" href="#"><span>Read More</span><i class="flaticon-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="post-card style-2">
                  <div class="post-image ht-img-effect-image">
                    <img class="img-fluid" src="images/blog/06.jpg?v=10" alt="">
                  </div>
                  <div class="post-desc">
                    <ul class="list-inline post-bottom">
                      <li class="list-inline-item">
                        <i class="bi bi-calendar3"></i>
                        <span class="posted-on">
                          <a href="#">
                            May 05, 2026
                          </a>
                        </span>
                      </li>
                      <li class="list-inline-item">
                        <i class="bi bi-tag"></i>
                        <span class="cat-links">
                          <a href="#">Campaign</a>
                        </span>
                      </li>
                    </ul>
                    <div class="post-title">
                      <h4>
                        <a href="#">Breast Cancer Awareness and Mobile Screening Unit Launch</a>
                      </h4>
                    </div>
                    <a class="themeht-link-btn" href="#"><span>Read More</span><i class="flaticon-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="post-card style-2">
                  <div class="post-image ht-img-effect-image">
                    <img class="img-fluid" src="images/blog/01.jpg?v=10" alt="">
                  </div>
                  <div class="post-desc">
                    <ul class="list-inline post-bottom">
                      <li class="list-inline-item">
                        <i class="bi bi-calendar3"></i>
                        <span class="posted-on">
                          <a href="#">
                            June 25, 2026
                          </a>
                        </span>
                      </li>
                      <li class="list-inline-item">
                        <i class="bi bi-tag"></i>
                        <span class="cat-links">
                          <a href="#">Event</a>
                        </span>
                      </li>
                    </ul>
                    <div class="post-title">
                      <h4>
                        <a href="#">Free Cancer Screening and Awareness Camp at Mohali</a>
                      </h4>
                    </div>
                    <a class="themeht-link-btn" href="#"><span>Read More</span><i class="flaticon-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="post-card style-2">
                  <div class="post-image ht-img-effect-image">
                    <img class="img-fluid" src="images/blog/02.jpg?v=10" alt="">
                  </div>
                  <div class="post-desc">
                    <ul class="list-inline post-bottom">
                      <li class="list-inline-item">
                        <i class="bi bi-calendar3"></i>
                        <span class="posted-on">
                          <a href="#">
                            June 18, 2026
                          </a>
                        </span>
                      </li>
                      <li class="list-inline-item">
                        <i class="bi bi-tag"></i>
                        <span class="cat-links">
                          <a href="#">News</a>
                        </span>
                      </li>
                    </ul>
                    <div class="post-title">
                      <h4>
                        <a href="#">Installation of Advanced Linear Accelerator for Radiation Therapy</a>
                      </h4>
                    </div>
                    <a class="themeht-link-btn" href="#"><span>Read More</span><i class="flaticon-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div id="post-pagination" class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--blog end-->

</div>

<!--body content end-->